<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let Us Simplify Your Business!</h2>
                <hr class="primary">
                <div style="text-align: justify;">
                    <p>If your business processes feel messy, time-consuming, or difficult to manage, we are here to help. Let us work together to bring structure, reduce manual effort, and make your operations run smoothly.!</p>
            </div>
            </div>
            <div style="text-align: center; margin-top: 20px;">
            <a href="https://calendly.com/mayamenonk/businessprocessconsultation" class="btn btn-primary btn-xl" target="_blank">
                Schedule Your Free Call
            </a>

      <!--  <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
     <!--   <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
       <!-- <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div> -->
        </div>
    </div>
</section>
