<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Streamline Your Business. Grow with Clarity</h1>
            <hr>
            <p>We help startups and small businesses simplify operations, reduce manual work, and build efficient systems that support growth.</p>
            <a href="https://calendly.com/mayamenonk/businessprocessconsultation" class="btn btn-primary btn-xl" target="_blank">
				Book a Free Consultation </a>
        </div>
    </div>
</header>
