<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
  <!-- First Row Services  -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-search wow bounceIn text-primary"></i>
                    <h3>Business Process Assessments</h3>
                    <p class="text-muted">We analyze your current workflows, identify inefficiencies, and provide clear insights to improve operations</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Process Improvement</h3>
                    <p class="text-muted">We simplify workflows, reduce manual effort, and improve efficiency to make your daily operations smoother!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Digital Transformation</h3>
                    <p class="text-muted">We guide you in choosing and implementing the right tools to move from manual work to smart systems</p>
                </div>
            </div>
            </div>
            </div>
  <!-- Second Row Services  -->
            <div class="container">
                    <div class="row">
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-file-text wow bounceIn text-primary" data-wow-delay=".3s"></i>
                            <h3>SOP & Documentation</h3>
                            <p class="text-muted">We create clear, structured processes so your team can work consistently and efficiently.</p>
                     </div>
                 </div>

                 <div class="col-lg-4 col-md-6 text-center">
                   <div class="service-box">
                      <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".4s"></i>
                      <h3>Customer Experience</h3>
                      <p class="text-muted">We improve how you interact with customers to increase satisfaction, conversions, and retention.</p>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                  <div class="service-box">
                    <i class="fa fa-4x fa-check wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>Implementation Support</h3>
                    <p class="text-muted">We help you execute solutions and ensure smooth adoption across your business.</p>
                 </div>
               </div>
            </div>
          </div>
        </div>
    </div>
</section>
